# ENV files
.env

# Node dependencies
node_modules/
dist/
build/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# VS Code
.vscode/

# Firebase service account (si jamais tu l’ajoutes en local)
firebase_config.json

# Python stuff (hérité mais optionnel si tu gardes un peu de .py)
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
venv/
.venv/
